In [1]:
import pandas as pd
import matplotlib as mpl

In [2]:
# import csv file into a dataframe:
contracts = pd.read_csv("NBA_salaries.csv", header = [1], index_col = 0)

In [3]:
# Display columns
contracts.columns

Index(['Player', 'Tm', '2021-22', '2022-23', '2023-24', '2024-25', '2025-26',
       '2026-27', 'Signed Using', 'Guaranteed'],
      dtype='object')

In [4]:
# Rename 'tm' to 'team column'
contracts = contracts.rename(columns = {'Tm': 'Team'})

In [5]:
contracts

,Player,Team,2021-22,2022-23,2023-24,2024-25,2025-26,2026-27,Signed Using,Guaranteed
Rk,,,,,,,,,,
1,Stephen Curry,GSW,"$45,780,966","$48,070,014","$51,915,615","$55,761,216","$59,606,817",NaN,Bird Rights,"$261,134,628"
2,John Wall,HOU,"$44,310,840","$47,366,760",NaN,NaN,NaN,NaN,Bird Rights,"$44,310,840"
3,Russell Westbrook,LAL,"$44,211,146","$47,063,478",NaN,NaN,NaN,NaN,Bird Rights,"$44,211,146"
4,James Harden,PHI,"$43,848,000","$46,872,000",NaN,NaN,NaN,NaN,Bird Rights,"$43,848,000"
5,LeBron James,LAL,"$41,180,544","$44,474,988",NaN,NaN,NaN,NaN,Bird,"$85,655,532"
...,...,...,...,...,...,...,...,...,...,...
495,Isaiah Thomas,CHO,"$276,039",NaN,NaN,NaN,NaN,NaN,Minimum Salary,"$552,077"
496,Trendon Watford,POR,"$260,561","$1,563,518","$1,836,096","$1,988,598",NaN,NaN,MLE,"$5,648,773"
497,Ish Wainright,TOR,"$8,558",NaN,NaN,NaN,NaN,NaN,NaN,"$375,000"
498,Malik Fitts,BOS,"$231,062","$1,752,638",NaN,NaN,NaN,NaN,Minimum Salary,"$402,218"
499,Joe Wieskamp,SAS,"$202,068",NaN,NaN,NaN,NaN,NaN,Minimum Salary,"$202,068"

In [6]:
# Check df data types
contracts.dtypes

Player          object
Team            object
2021-22         object
2022-23         object
2023-24         object
2024-25         object
2025-26         object
2026-27         object
Signed Using    object
Guaranteed      object
dtype: object

In [7]:
# Dropping all unnecessary columns
new_contracts = contracts.drop(['2022-23', '2023-24', '2024-25', '2025-26',
       '2026-27', 'Signed Using', 'Guaranteed'], axis=1)

In [8]:
new_contracts

                Player Team      2021-22
Rk
1        Stephen Curry  GSW  $45,780,966
2            John Wall  HOU  $44,310,840
3    Russell Westbrook  LAL  $44,211,146
4         James Harden  PHI  $43,848,000
5         LeBron James  LAL  $41,180,544
..                 ...  ...          ...
495      Isaiah Thomas  CHO     $276,039
496    Trendon Watford  POR     $260,561
497      Ish Wainright  TOR       $8,558
498        Malik Fitts  BOS     $231,062
499       Joe Wieskamp  SAS     $202,068

[499 rows x 3 columns]

In [16]:
# Import player advanced stats
nba_adv = pd.read_csv("NBA_Advanced_Stats.csv", index_col=0)

In [17]:
nba_adv.columns

Index(['Player', 'Pos', 'Age', 'Tm', 'G', 'MP', 'PERâ–¼', 'TS%', '3PAr', 'FTr',
       'ORB%', 'DRB%', 'TRB%', 'AST%', 'STL%', 'BLK%', 'TOV%', 'USG%',
       'Unnamed: 19', 'OWS', 'DWS', 'WS', 'WS/48', 'Unnamed: 24', 'OBPM',
       'DBPM', 'BPM', 'VORP'],
      dtype='object')

Advanced Stats Dictionary
PER
TS%
TOV%
USG%
WS
WS/48
BPM
VORP

In [18]:
nba_adv

,Player,Pos,Age,Tm,G,MP,PERâ–¼,TS%,3PAr,FTr,...,Unnamed: 19,OWS,DWS,WS,WS/48,Unnamed: 24,OBPM,DBPM,BPM,VORP
Rk,,,,,,,,,,,,,,,,,,,,,
1,Nikola JokiÄ‡,C,26,DEN,74,2476,32.8,0.661,0.220,0.357,...,NaN,10.8,4.5,15.2,0.296,NaN,9.2,4.5,13.7,9.8
2,Giannis Antetokounmpo,PF,27,MIL,67,2204,32.1,0.633,0.194,0.615,...,NaN,9.2,3.7,12.9,0.281,NaN,7.6,3.5,11.2,7.4
3,Joel Embiid,C,27,PHI,68,2297,31.2,0.616,0.188,0.602,...,NaN,7.9,4.1,12.0,0.252,NaN,7.2,2.0,9.2,6.5
4,LeBron James,SF,37,LAL,56,2084,26.2,0.619,0.367,0.275,...,NaN,5.2,2.3,7.5,0.172,NaN,6.9,0.8,7.7,5.1
5,Kevin Durant,PF,33,BRK,55,2047,25.6,0.634,0.269,0.367,...,NaN,6.4,2.0,8.4,0.198,NaN,6.4,0.7,7.2,4.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,Jaden McDaniels,PF,21,MIN,70,1803,10.3,0.553,0.455,0.128,...,NaN,0.7,1.7,2.4,0.065,NaN,-2.9,-0.1,-2.9,-0.4
174,Royce O'Neale,SF,28,UTA,77,2406,10.3,0.608,0.689,0.126,...,NaN,2.7,2.8,5.5,0.109,NaN,-0.8,1.7,0.8,1.7
175,Justin Holiday,SF-SG,32,TOT,74,2057,9.5,0.543,0.728,0.094,...,NaN,0.8,0.6,1.4,0.033,NaN,-1.4,-0.8,-2.2,-0.1
176,Killian Hayes,PG,20,DET,66,1647,9.3,0.461,0.364,0.161,...,NaN,-1.0,1.5,0.5,0.014,NaN,-4.3,0.8,-3.5,-0.6
177,Reggie Bullock,SF,30,DAL,68,1902,9.2,0.558,0.782,0.096,...,NaN,1.2,2.0,3.2,0.080,NaN,-1.4,0.0,-1.4,0.3

In [21]:
# Dropping all unnecessary columns
nba_adv_stats = nba_adv.drop(['Tm', 'MP', '3PAr', 'FTr', 'ORB%','DRB%', 'TRB%', 'AST%', 'STL%', 'BLK%',
       'Unnamed: 19', 'OWS', 'DWS','Unnamed: 24','OBPM','DBPM'], axis=1)

In [28]:
nba_adv_stats

,Player,Pos,Age,G,PER,TS%,TOV%,USG%,WS,WS/48,BPM,VORP
Rk,,,,,,,,,,,,
1,Nikola JokiÄ‡,C,26,74,32.8,0.661,15.6,31.9,15.2,0.296,13.7,9.8
2,Giannis Antetokounmpo,PF,27,67,32.1,0.633,12.2,34.9,12.9,0.281,11.2,7.4
3,Joel Embiid,C,27,68,31.2,0.616,11.3,37.2,12.0,0.252,9.2,6.5
4,LeBron James,SF,37,56,26.2,0.619,12.5,32.3,7.5,0.172,7.7,5.1
5,Kevin Durant,PF,33,55,25.6,0.634,12.9,31.2,8.4,0.198,7.2,4.8
...,...,...,...,...,...,...,...,...,...,...,...,...
173,Jaden McDaniels,PF,21,70,10.3,0.553,11.4,15.3,2.4,0.065,-2.9,-0.4
174,Royce O'Neale,SF,28,77,10.3,0.608,14.4,9.9,5.5,0.109,0.8,1.7
175,Justin Holiday,SF-SG,32,74,9.5,0.543,9.2,15.8,1.4,0.033,-2.2,-0.1
176,Killian Hayes,PG,20,66,9.3,0.461,18.4,15.7,0.5,0.014,-3.5,-0.6
177,Reggie Bullock,SF,30,68,9.2,0.558,7.1,13.3,3.2,0.080,-1.4,0.3

In [29]:
# Rename 'PERâ–¼' to 'PER'
nba_adv_stats = nba_adv_stats.rename(columns = {'PERâ–¼': 'PER'})