In [1]:
import pandas as pd
import matplotlib as mpl

In [2]:
# import csv file into a dataframe:
contracts = pd.read_csv("NBA_salaries.csv", header = [1], index_col = 0)

In [3]:
# Display columns
contracts.columns

Index(['Player', 'Tm', '2021-22', '2022-23', '2023-24', '2024-25', '2025-26',
       '2026-27', 'Signed Using', 'Guaranteed'],
      dtype='object')

In [4]:
# Display all players
# pd.set_option('display.max_rows', 550)

In [5]:
# Rename 'tm' to 'team column'
contracts = contracts.rename(columns = {'Tm': 'Team'})

In [6]:
contracts

,Player,Team,2021-22,2022-23,2023-24,2024-25,2025-26,2026-27,Signed Using,Guaranteed
Rk,,,,,,,,,,
1,Stephen Curry,GSW,"$45,780,966","$48,070,014","$51,915,615","$55,761,216","$59,606,817",NaN,Bird Rights,"$261,134,628"
2,John Wall,HOU,"$44,310,840","$47,366,760",NaN,NaN,NaN,NaN,Bird Rights,"$44,310,840"
3,Russell Westbrook,LAL,"$44,211,146","$47,063,478",NaN,NaN,NaN,NaN,Bird Rights,"$44,211,146"
4,James Harden,PHI,"$43,848,000","$46,872,000",NaN,NaN,NaN,NaN,Bird Rights,"$43,848,000"
5,LeBron James,LAL,"$41,180,544","$44,474,988",NaN,NaN,NaN,NaN,Bird,"$85,655,532"
...,...,...,...,...,...,...,...,...,...,...
495,Isaiah Thomas,CHO,"$276,039",NaN,NaN,NaN,NaN,NaN,Minimum Salary,"$552,077"
496,Trendon Watford,POR,"$260,561","$1,563,518","$1,836,096","$1,988,598",NaN,NaN,MLE,"$5,648,773"
497,Ish Wainright,TOR,"$8,558",NaN,NaN,NaN,NaN,NaN,NaN,"$375,000"
498,Malik Fitts,BOS,"$231,062","$1,752,638",NaN,NaN,NaN,NaN,Minimum Salary,"$402,218"
499,Joe Wieskamp,SAS,"$202,068",NaN,NaN,NaN,NaN,NaN,Minimum Salary,"$202,068"

In [7]:
# Check df data types
contracts.dtypes

Player          object
Team            object
2021-22         object
2022-23         object
2023-24         object
2024-25         object
2025-26         object
2026-27         object
Signed Using    object
Guaranteed      object
dtype: object

In [8]:
# Dropping unnecessary columns
new_contracts = contracts.drop(['2022-23', '2023-24', '2024-25', '2025-26',
       '2026-27', 'Signed Using', 'Guaranteed'], axis=1)

In [9]:
new_contracts

                Player Team      2021-22
Rk
1        Stephen Curry  GSW  $45,780,966
2            John Wall  HOU  $44,310,840
3    Russell Westbrook  LAL  $44,211,146
4         James Harden  PHI  $43,848,000
5         LeBron James  LAL  $41,180,544
..                 ...  ...          ...
495      Isaiah Thomas  CHO     $276,039
496    Trendon Watford  POR     $260,561
497      Ish Wainright  TOR       $8,558
498        Malik Fitts  BOS     $231,062
499       Joe Wieskamp  SAS     $202,068

[499 rows x 3 columns]

In [10]:
# Import player advanced stats(only 500 players. All players that did not play due to injury/situation are not included)
nba_adv = pd.read_csv("NBA_Advanced_Stats.csv", index_col=0)

In [11]:
# Display columns
nba_adv.columns

Index(['Player', 'Pos', 'Age', 'Tm', 'Gâ–¼', 'MP', 'PER', 'TS%', '3PAr', 'FTr',
       'ORB%', 'DRB%', 'TRB%', 'AST%', 'STL%', 'BLK%', 'TOV%', 'USG%',
       'Unnamed: 19', 'OWS', 'DWS', 'WS', 'WS/48', 'Unnamed: 24', 'OBPM',
       'DBPM', 'BPM', 'VORP'],
      dtype='object')

<strong>Advanced Stats Dictionary</strong><br>

<strong>PER:</strong> A measure of per-minute production standardized such that the league average is 15<br>
<strong>TS%:</strong> A measure of shooting efficiency that takes into account 2-point field goalds, 3-point field goals and free throws<br>
<strong>TOV%:</strong> An estimate of turnover percentage per 100 plays<br>
<strong>USG%:</strong> An estimate of team plays use by a player while they were on the floor<br>
<strong>WS:</strong> An Estimate of number of wins contributed by a player<br>
<strong>WS/48:</strong> An Estimate of number of wins contributed by a player per 48 minutes (league average is approximately .100)<br>
<strong>BPM:</strong> A box score estimate of the points per 100 possessions a player co
tributed above a league-average player, translated to an average team<br>
<strong>VORP:</strong> A box score estimate of the points per 100 TEAM posessions that a player contributed above a replacement-level (-2.0), player translated to an average team and prorated to an 82-game season.<br>

In [12]:
# Original NBA Player Advanced Stats dataset
nba_adv

,Player,Pos,Age,Tm,Gâ–¼,MP,PER,TS%,3PAr,FTr,...,Unnamed: 19,OWS,DWS,WS,WS/48,Unnamed: 24,OBPM,DBPM,BPM,VORP
Rk,,,,,,,,,,,,,,,,,,,,,
1,Deni Avdija,SF,21,WAS,82,1984,11.6,0.536,0.447,0.235,...,NaN,0.6,1.8,2.4,0.058,NaN,-2.1,0.4,-1.7,0.1
2,Saddiq Bey,SF,22,DET,82,2704,14.0,0.529,0.537,0.224,...,NaN,2.4,1.6,4.0,0.071,NaN,0.9,-1.2,-0.3,1.2
3,Mikal Bridges,SF,25,PHO,82,2854,14.4,0.627,0.364,0.183,...,NaN,5.2,3.7,8.9,0.150,NaN,0.5,1.1,1.6,2.6
4,Kevon Looney,C,25,GSW,82,1732,15.7,0.586,0.003,0.343,...,NaN,3.5,3.2,6.8,0.187,NaN,-0.9,1.7,0.9,1.3
5,Dwight Powell,C,30,DAL,82,1798,18.1,0.725,0.092,0.529,...,NaN,6.0,2.2,8.2,0.219,NaN,0.4,0.5,0.9,1.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
496,Louis King,SF,22,SAC,10,104,8.1,0.438,0.574,0.213,...,NaN,0.0,0.0,0.0,0.000,NaN,-3.0,-1.6,-4.6,-0.1
497,Xavier Moon,SG,27,LAC,10,137,16.2,0.545,0.275,0.098,...,NaN,0.2,0.2,0.3,0.121,NaN,-1.1,1.0,-0.1,0.1
498,Reggie Perry,PF,21,TOT,10,187,15.6,0.537,0.203,0.190,...,NaN,0.1,0.2,0.2,0.058,NaN,-3.1,-1.0,-4.1,-0.1
499,Trevelin Queen,SG,24,HOU,10,74,18.2,0.619,0.727,0.121,...,NaN,0.1,0.1,0.1,0.080,NaN,2.7,-0.8,1.9,0.1
500,Chris Silva,PF,25,TOT,10,91,11.6,0.641,0.000,0.800,...,NaN,0.1,0.1,0.3,0.137,NaN,-5.0,0.1,-4.9,-0.1

In [13]:
# Dropping all unnecessary columns
nba_adv_stats = nba_adv.drop(['Tm', 'MP', '3PAr', 'FTr', 'ORB%','DRB%', 'TRB%', 'AST%', 'STL%', 'BLK%',
       'Unnamed: 19', 'OWS', 'DWS','Unnamed: 24','OBPM','DBPM'], axis=1)

In [14]:
# NBA advanced stats cleaned: after dropped columns
nba_adv_stats

,Player,Pos,Age,Gâ–¼,PER,TS%,TOV%,USG%,WS,WS/48,BPM,VORP
Rk,,,,,,,,,,,,
1,Deni Avdija,SF,21,82,11.6,0.536,12.0,16.3,2.4,0.058,-1.7,0.1
2,Saddiq Bey,SF,22,82,14.0,0.529,7.1,21.3,4.0,0.071,-0.3,1.2
3,Mikal Bridges,SF,25,82,14.4,0.627,6.8,15.0,8.9,0.150,1.6,2.6
4,Kevon Looney,C,25,82,15.7,0.586,13.8,12.2,6.8,0.187,0.9,1.3
5,Dwight Powell,C,30,82,18.1,0.725,11.5,14.0,8.2,0.219,0.9,1.3
...,...,...,...,...,...,...,...,...,...,...,...,...
496,Louis King,SF,22,10,8.1,0.438,0.0,21.2,0.0,0.000,-4.6,-0.1
497,Xavier Moon,SG,27,10,16.2,0.545,10.1,19.0,0.3,0.121,-0.1,0.1
498,Reggie Perry,PF,21,10,15.6,0.537,11.4,22.4,0.2,0.058,-4.1,-0.1
499,Trevelin Queen,SG,24,10,18.2,0.619,16.8,23.9,0.1,0.080,1.9,0.1
500,Chris Silva,PF,25,10,11.6,0.641,28.3,13.8,0.3,0.137,-4.9,-0.1

In [15]:
# Merge NBA salary dataframe with advanced stats dataframe
full_data = pd.merge(new_contracts, nba_adv_stats, on='Player', how='inner')

In [16]:
# rename 'G' columns to 'Games'
full_data = full_data.rename(columns = {'Gâ–¼' : 'Games'})

In [17]:
full_data

,Player,Team,2021-22,Pos,Age,Games,PER,TS%,TOV%,USG%,WS,WS/48,BPM,VORP
0,Stephen Curry,GSW,"$45,780,966",PG,33,64,21.4,0.601,13.2,30.8,8.0,0.173,5.8,4.4
1,Russell Westbrook,LAL,"$44,211,146",PG,33,78,15.0,0.512,17.3,27.3,1.7,0.030,-1.6,0.2
2,James Harden,PHI,"$43,848,000",PG-SG,32,65,20.9,0.583,18.8,27.2,7.6,0.152,4.1,3.7
3,LeBron James,LAL,"$41,180,544",SF,37,56,26.2,0.619,12.5,32.3,7.5,0.172,7.7,5.1
4,Kevin Durant,BRK,"$40,918,900",PF,33,55,25.6,0.634,12.9,31.2,8.4,0.198,7.2,4.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
455,Isaiah Thomas,CHO,"$276,039",PG,32,22,12.0,0.516,7.8,24.8,0.2,0.026,-4.5,-0.2
456,Trendon Watford,POR,"$260,561",SF,21,48,15.8,0.590,12.5,17.6,1.9,0.104,-1.7,0.1
457,Ish Wainright,TOR,"$8,558",PF,27,45,9.4,0.494,10.6,14.7,0.6,0.079,-2.0,0.0
458,Malik Fitts,BOS,"$231,062",PF,24,15,10.7,0.553,9.5,14.6,0.1,0.097,-1.1,0.0
459,Joe Wieskamp,SAS,"$202,068",SG,22,29,7.1,0.494,3.1,13.1,0.1,0.035,-3.9,-0.1

In [18]:
# Check for NANs in df
full_data.isnull().sum().sum()

1

In [19]:
# Drop the player that has an NAN for salary. He will not be analyzed (Admiral Schofield)
full_data = full_data.drop([3,452])

In [20]:
full_data

,Player,Team,2021-22,Pos,Age,Games,PER,TS%,TOV%,USG%,WS,WS/48,BPM,VORP
0,Stephen Curry,GSW,"$45,780,966",PG,33,64,21.4,0.601,13.2,30.8,8.0,0.173,5.8,4.4
1,Russell Westbrook,LAL,"$44,211,146",PG,33,78,15.0,0.512,17.3,27.3,1.7,0.030,-1.6,0.2
2,James Harden,PHI,"$43,848,000",PG-SG,32,65,20.9,0.583,18.8,27.2,7.6,0.152,4.1,3.7
4,Kevin Durant,BRK,"$40,918,900",PF,33,55,25.6,0.634,12.9,31.2,8.4,0.198,7.2,4.8
5,Giannis Antetokounmpo,MIL,"$39,344,970",PF,27,67,32.1,0.633,12.2,34.9,12.9,0.281,11.2,7.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
455,Isaiah Thomas,CHO,"$276,039",PG,32,22,12.0,0.516,7.8,24.8,0.2,0.026,-4.5,-0.2
456,Trendon Watford,POR,"$260,561",SF,21,48,15.8,0.590,12.5,17.6,1.9,0.104,-1.7,0.1
457,Ish Wainright,TOR,"$8,558",PF,27,45,9.4,0.494,10.6,14.7,0.6,0.079,-2.0,0.0
458,Malik Fitts,BOS,"$231,062",PF,24,15,10.7,0.553,9.5,14.6,0.1,0.097,-1.1,0.0
459,Joe Wieskamp,SAS,"$202,068",SG,22,29,7.1,0.494,3.1,13.1,0.1,0.035,-3.9,-0.1

In [21]:
# Check Datatypes
full_data.dtypes

Player      object
Team        object
2021-22     object
Pos         object
Age          int64
Games        int64
PER        float64
TS%        float64
TOV%       float64
USG%       float64
WS         float64
WS/48      float64
BPM        float64
VORP       float64
dtype: object

In [22]:
#Remove '$' from salaries. Need to convert to number
full_data['2021-22'] = full_data['2021-22'].str[1:]

In [23]:
full_data = full_data.replace(',','', regex=True)

In [24]:
# Rename '2021-22' to '2021-22 Salaries ($)'
full_data = full_data.rename(columns = {'2021-22' : '2021-22 Salaries ($)'})

In [25]:
# Convert Salary dtype to float from Object (need to calculate column)
full_data['2021-22 Salaries ($)']= full_data['2021-22 Salaries ($)'].astype(float, errors='raise')

In [26]:
full_data

,Player,Team,2021-22 Salaries ($),Pos,Age,Games,PER,TS%,TOV%,USG%,WS,WS/48,BPM,VORP
0,Stephen Curry,GSW,45780966.0,PG,33,64,21.4,0.601,13.2,30.8,8.0,0.173,5.8,4.4
1,Russell Westbrook,LAL,44211146.0,PG,33,78,15.0,0.512,17.3,27.3,1.7,0.030,-1.6,0.2
2,James Harden,PHI,43848000.0,PG-SG,32,65,20.9,0.583,18.8,27.2,7.6,0.152,4.1,3.7
4,Kevin Durant,BRK,40918900.0,PF,33,55,25.6,0.634,12.9,31.2,8.4,0.198,7.2,4.8
5,Giannis Antetokounmpo,MIL,39344970.0,PF,27,67,32.1,0.633,12.2,34.9,12.9,0.281,11.2,7.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
455,Isaiah Thomas,CHO,276039.0,PG,32,22,12.0,0.516,7.8,24.8,0.2,0.026,-4.5,-0.2
456,Trendon Watford,POR,260561.0,SF,21,48,15.8,0.590,12.5,17.6,1.9,0.104,-1.7,0.1
457,Ish Wainright,TOR,8558.0,PF,27,45,9.4,0.494,10.6,14.7,0.6,0.079,-2.0,0.0
458,Malik Fitts,BOS,231062.0,PF,24,15,10.7,0.553,9.5,14.6,0.1,0.097,-1.1,0.0
459,Joe Wieskamp,SAS,202068.0,SG,22,29,7.1,0.494,3.1,13.1,0.1,0.035,-3.9,-0.1

In [27]:
full_data.describe()

,2021-22 Salaries ($),Age,Games,PER,TS%,TOV%,USG%,WS,WS/48,BPM,VORP
count,4.580000e+02,458.000000,458.000000,458.000000,458.000000,458.000000,458.000000,458.000000,458.000000,458.000000,458.000000
mean,8.449268e+06,26.294760,54.753275,14.034934,0.558205,12.075328,18.682751,2.750873,0.093245,-0.749782,0.675764
std,9.532754e+06,4.476344,18.006267,4.505766,0.065175,3.978347,5.370075,2.510401,0.059362,2.866155,1.235968
min,8.558000e+03,19.000000,10.000000,0.400000,0.200000,0.000000,6.000000,-1.600000,-0.147000,-10.400000,-1.200000
25%,2.015070e+06,23.000000,43.250000,10.900000,0.524250,9.500000,14.725000,0.800000,0.056000,-2.500000,-0.100000
50%,4.244258e+06,26.000000,58.000000,13.500000,0.560000,11.650000,17.800000,2.100000,0.093000,-0.900000,0.250000
75%,1.108200e+07,29.000000,69.000000,16.675000,0.595000,14.400000,21.675000,4.000000,0.126000,0.800000,1.100000
max,4.578097e+07,41.000000,82.000000,32.800000,0.745000,31.900000,37.400000,15.200000,0.296000,13.700000,9.800000

In [28]:
full_data_salaries = full_data.sort_values(by=['2021-22 Salaries ($)'], ascending=False)

In [29]:
full_data_salaries

,Player,Team,2021-22 Salaries ($),Pos,Age,Games,PER,TS%,TOV%,USG%,WS,WS/48,BPM,VORP
0,Stephen Curry,GSW,45780966.0,PG,33,64,21.4,0.601,13.2,30.8,8.0,0.173,5.8,4.4
1,Russell Westbrook,LAL,44211146.0,PG,33,78,15.0,0.512,17.3,27.3,1.7,0.030,-1.6,0.2
2,James Harden,PHI,43848000.0,PG-SG,32,65,20.9,0.583,18.8,27.2,7.6,0.152,4.1,3.7
4,Kevin Durant,BRK,40918900.0,PF,33,55,25.6,0.634,12.9,31.2,8.4,0.198,7.2,4.8
5,Giannis Antetokounmpo,MIL,39344970.0,PF,27,67,32.1,0.633,12.2,34.9,12.9,0.281,11.2,7.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
455,Isaiah Thomas,CHO,276039.0,PG,32,22,12.0,0.516,7.8,24.8,0.2,0.026,-4.5,-0.2
456,Trendon Watford,POR,260561.0,SF,21,48,15.8,0.590,12.5,17.6,1.9,0.104,-1.7,0.1
458,Malik Fitts,BOS,231062.0,PF,24,15,10.7,0.553,9.5,14.6,0.1,0.097,-1.1,0.0
459,Joe Wieskamp,SAS,202068.0,SG,22,29,7.1,0.494,3.1,13.1,0.1,0.035,-3.9,-0.1
457,Ish Wainright,TOR,8558.0,PF,27,45,9.4,0.494,10.6,14.7,0.6,0.079,-2.0,0.0