In [1]:
import pandas as pd
import matplotlib as mpl

In [23]:
# import csv file into a dataframe:
contracts = pd.read_csv("NBA_salaries.csv", header = [1], index_col = 0)

In [24]:
contracts.head(25)

,Player,Tm,2021-22,2022-23,2023-24,2024-25,2025-26,2026-27,Signed Using,Guaranteed
Rk,,,,,,,,,,
1,Stephen Curry,GSW,"$45,780,966","$48,070,014","$51,915,615","$55,761,216","$59,606,817",NaN,Bird Rights,"$261,134,628"
2,John Wall,HOU,"$44,310,840","$47,366,760",NaN,NaN,NaN,NaN,Bird Rights,"$44,310,840"
3,Russell Westbrook,LAL,"$44,211,146","$47,063,478",NaN,NaN,NaN,NaN,Bird Rights,"$44,211,146"
4,James Harden,PHI,"$43,848,000","$46,872,000",NaN,NaN,NaN,NaN,Bird Rights,"$43,848,000"
5,LeBron James,LAL,"$41,180,544","$44,474,988",NaN,NaN,NaN,NaN,Bird,"$85,655,532"
6,Kevin Durant,BRK,"$40,918,900","$42,969,845","$42,969,845","$49,856,021","$53,282,609",NaN,Sign and Trade,"$229,997,220"
7,Giannis Antetokounmpo,MIL,"$39,344,970","$42,492,568","$45,640,165","$48,787,763","$51,935,360",NaN,Bird,"$176,265,466"
8,Paul George,LAC,"$39,344,970","$42,492,568","$45,640,165","$48,787,763",NaN,NaN,Bird,"$127,477,703"
9,Damian Lillard,POR,"$39,344,900","$42,492,492","$45,640,084","$48,787,676",NaN,NaN,1st Round Pick,"$176,265,152"
10,Kawhi Leonard,LAC,"$39,344,900","$42,492,492","$45,640,084","$48,787,676",NaN,NaN,Early Bird,"$127,477,476"
11,Klay Thompson,GSW,"$37,980,720","$40,600,080","$43,219,440",NaN,NaN,NaN,Bird Rights,"$121,800,240"
12,Jimmy Butler,MIA,"$36,016,200","$37,653,300","$45,183,960","$48,798,677","$52,413,394",NaN,Sign and Trade,"$167,652,137"
13,Tobias Harris,PHI,"$36,000,000","$38,482,759","$40,965,517",NaN,NaN,NaN,Bird Rights,"$115,448,276"
14,Khris Middleton,MIL,"$35,500,000","$37,948,276","$40,396,552",NaN,NaN,NaN,Bird Rights,"$73,448,276"
15,Anthony Davis,LAL,"$35,361,360","$37,980,720","$40,600,080","$43,219,440",NaN,NaN,Bird,"$113,942,160"
16,Rudy Gobert,UTA,"$35,344,828","$38,172,414","$41,000,000","$43,827,587","$46,655,173",NaN,Bird,"$158,344,829"
17,Kyrie Irving,BRK,"$34,916,200","$36,503,300",NaN,NaN,NaN,NaN,Cap space,"$34,916,200"
18,Bradley Beal,WAS,"$34,502,130","$37,262,300",NaN,NaN,NaN,NaN,Cap Space,"$34,502,130"
19,Kristaps Porziņģis,WAS,"$31,650,600","$33,833,400","$36,016,200",NaN,NaN,NaN,Bird Rights,"$65,484,000"
20,Devin Booker,PHO,"$31,610,000","$33,790,000","$35,970,000",NaN,NaN,NaN,1st round pick,"$101,370,000"
21,Karl-Anthony Towns,MIN,"$31,610,000","$33,790,000","$35,970,000",NaN,NaN,NaN,1st Round Pick,"$101,370,000"
22,Jamal Murray,DEN,"$31,590,000","$33,930,000","$36,270,000","$38,610,000",NaN,NaN,1st Round pick,"$140,400,000"
23,Ben Simmons,BRK,"$31,590,000","$33,930,000","$36,270,000","$38,610,000",NaN,NaN,1st Round pick,"$140,400,000"
24,Joel Embiid,PHI,"$31,579,390","$33,616,770","$43,732,500","$47,231,100","$50,729,700","$54,228,300",1st Round Pick,"$206,889,460"
25,Andrew Wiggins,GSW,"$31,579,390","$33,616,770",NaN,NaN,NaN,NaN,1st Round Pick,"$65,196,160"

In [27]:
contracts.dtypes

Player          object
Tm              object
2021-22         object
2022-23         object
2023-24         object
2024-25         object
2025-26         object
2026-27         object
Signed Using    object
Guaranteed      object
dtype: object