In [1]:
import pandas as pd
import matplotlib as mpl

Final Dataset Criteria<br>
-An analysis of compensation vs player performance for the 21-22 season only. All other seasons will be excluded.<br>
-Players that have played 50 or more games included only. Players that are injured/not playing the entire 21-22 season due to contextual reasons will not be included. Cannot assess fair compensation based on performance for these reasons. (Players that played 0 games for the season were not imported into the initial 'contracts' dataset.
-Will analyze top 50 highest paid players to eliminate high standard deviation.

In [2]:
# import csv file into a dataframe:
contracts = pd.read_csv("NBA_salaries.csv", header = [1], index_col = 0)

In [3]:
# Display columns
contracts.columns

Index(['Player', 'Tm', '2021-22', '2022-23', '2023-24', '2024-25', '2025-26',
       '2026-27', 'Signed Using', 'Guaranteed'],
      dtype='object')

In [4]:
# Display all players
# pd.set_option('display.max_rows', 550)

In [5]:
# Rename 'tm' to 'team column'
contracts = contracts.rename(columns = {'Tm': 'Team'})

In [6]:
contracts

,Player,Team,2021-22,2022-23,2023-24,2024-25,2025-26,2026-27,Signed Using,Guaranteed
Rk,,,,,,,,,,
1,Stephen Curry,GSW,"$45,780,966","$48,070,014","$51,915,615","$55,761,216","$59,606,817",NaN,Bird Rights,"$261,134,628"
2,John Wall,HOU,"$44,310,840","$47,366,760",NaN,NaN,NaN,NaN,Bird Rights,"$44,310,840"
3,Russell Westbrook,LAL,"$44,211,146","$47,063,478",NaN,NaN,NaN,NaN,Bird Rights,"$44,211,146"
4,James Harden,PHI,"$43,848,000","$46,872,000",NaN,NaN,NaN,NaN,Bird Rights,"$43,848,000"
5,LeBron James,LAL,"$41,180,544","$44,474,988",NaN,NaN,NaN,NaN,Bird,"$85,655,532"
...,...,...,...,...,...,...,...,...,...,...
495,Isaiah Thomas,CHO,"$276,039",NaN,NaN,NaN,NaN,NaN,Minimum Salary,"$552,077"
496,Trendon Watford,POR,"$260,561","$1,563,518","$1,836,096","$1,988,598",NaN,NaN,MLE,"$5,648,773"
497,Ish Wainright,TOR,"$8,558",NaN,NaN,NaN,NaN,NaN,NaN,"$375,000"
498,Malik Fitts,BOS,"$231,062","$1,752,638",NaN,NaN,NaN,NaN,Minimum Salary,"$402,218"
499,Joe Wieskamp,SAS,"$202,068",NaN,NaN,NaN,NaN,NaN,Minimum Salary,"$202,068"

In [7]:
# Check df data types
contracts.dtypes

Player          object
Team            object
2021-22         object
2022-23         object
2023-24         object
2024-25         object
2025-26         object
2026-27         object
Signed Using    object
Guaranteed      object
dtype: object

In [8]:
# Dropping unnecessary columns
new_contracts = contracts.drop(['2022-23', '2023-24', '2024-25', '2025-26',
       '2026-27', 'Signed Using', 'Guaranteed'], axis=1)

In [9]:
new_contracts

                Player Team      2021-22
Rk
1        Stephen Curry  GSW  $45,780,966
2            John Wall  HOU  $44,310,840
3    Russell Westbrook  LAL  $44,211,146
4         James Harden  PHI  $43,848,000
5         LeBron James  LAL  $41,180,544
..                 ...  ...          ...
495      Isaiah Thomas  CHO     $276,039
496    Trendon Watford  POR     $260,561
497      Ish Wainright  TOR       $8,558
498        Malik Fitts  BOS     $231,062
499       Joe Wieskamp  SAS     $202,068

[499 rows x 3 columns]

In [10]:
# Import player advanced stats(only 500 players. All players that did not play due to injury/situation are not included)
nba_adv = pd.read_csv("NBA_Advanced_Stats.csv", index_col=0)

In [11]:
# Display columns
nba_adv.columns

Index(['Player', 'Pos', 'Age', 'Tm', 'G▼', 'MP', 'PER', 'TS%', '3PAr', 'FTr',
       'ORB%', 'DRB%', 'TRB%', 'AST%', 'STL%', 'BLK%', 'TOV%', 'USG%',
       'Unnamed: 19', 'OWS', 'DWS', 'WS', 'WS/48', 'Unnamed: 24', 'OBPM',
       'DBPM', 'BPM', 'VORP'],
      dtype='object')

<strong>Advanced Stats Dictionary</strong><br>

<strong>PER:</strong> A measure of per-minute production standardized such that the league average is 15<br>
<strong>TS%:</strong> A measure of shooting efficiency that takes into account 2-point field goalds, 3-point field goals and free throws<br>
<strong>TOV%:</strong> An estimate of turnover percentage per 100 plays<br>
<strong>USG%:</strong> An estimate of team plays use by a player while they were on the floor<br>
<strong>WS:</strong> An Estimate of number of wins contributed by a player<br>
<strong>WS/48:</strong> An Estimate of number of wins contributed by a player per 48 minutes (league average is approximately .100)<br>
<strong>BPM:</strong> A box score estimate of the points per 100 possessions a player co
tributed above a league-average player, translated to an average team<br>
<strong>VORP:</strong> A box score estimate of the points per 100 TEAM posessions that a player contributed above a replacement-level (-2.0), player translated to an average team and prorated to an 82-game season.<br>

In [12]:
# Original NBA Player Advanced Stats dataset
nba_adv

,Player,Pos,Age,Tm,G▼,MP,PER,TS%,3PAr,FTr,...,Unnamed: 19,OWS,DWS,WS,WS/48,Unnamed: 24,OBPM,DBPM,BPM,VORP
Rk,,,,,,,,,,,,,,,,,,,,,
1,Deni Avdija,SF,21,WAS,82,1984,11.6,0.536,0.447,0.235,...,NaN,0.6,1.8,2.4,0.058,NaN,-2.1,0.4,-1.7,0.1
2,Saddiq Bey,SF,22,DET,82,2704,14.0,0.529,0.537,0.224,...,NaN,2.4,1.6,4.0,0.071,NaN,0.9,-1.2,-0.3,1.2
3,Mikal Bridges,SF,25,PHO,82,2854,14.4,0.627,0.364,0.183,...,NaN,5.2,3.7,8.9,0.150,NaN,0.5,1.1,1.6,2.6
4,Kevon Looney,C,25,GSW,82,1732,15.7,0.586,0.003,0.343,...,NaN,3.5,3.2,6.8,0.187,NaN,-0.9,1.7,0.9,1.3
5,Dwight Powell,C,30,DAL,82,1798,18.1,0.725,0.092,0.529,...,NaN,6.0,2.2,8.2,0.219,NaN,0.4,0.5,0.9,1.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
496,Louis King,SF,22,SAC,10,104,8.1,0.438,0.574,0.213,...,NaN,0.0,0.0,0.0,0.000,NaN,-3.0,-1.6,-4.6,-0.1
497,Xavier Moon,SG,27,LAC,10,137,16.2,0.545,0.275,0.098,...,NaN,0.2,0.2,0.3,0.121,NaN,-1.1,1.0,-0.1,0.1
498,Reggie Perry,PF,21,TOT,10,187,15.6,0.537,0.203,0.190,...,NaN,0.1,0.2,0.2,0.058,NaN,-3.1,-1.0,-4.1,-0.1
499,Trevelin Queen,SG,24,HOU,10,74,18.2,0.619,0.727,0.121,...,NaN,0.1,0.1,0.1,0.080,NaN,2.7,-0.8,1.9,0.1
500,Chris Silva,PF,25,TOT,10,91,11.6,0.641,0.000,0.800,...,NaN,0.1,0.1,0.3,0.137,NaN,-5.0,0.1,-4.9,-0.1

In [13]:
# Dropping all unnecessary columns
nba_adv_stats = nba_adv.drop(['Tm', 'MP', '3PAr', 'FTr', 'ORB%','DRB%', 'TRB%', 'AST%', 'STL%', 'BLK%',
       'Unnamed: 19', 'OWS', 'DWS','Unnamed: 24','OBPM','DBPM'], axis=1)

In [14]:
# NBA advanced stats cleaned: after dropped columns
nba_adv_stats

,Player,Pos,Age,G▼,PER,TS%,TOV%,USG%,WS,WS/48,BPM,VORP
Rk,,,,,,,,,,,,
1,Deni Avdija,SF,21,82,11.6,0.536,12.0,16.3,2.4,0.058,-1.7,0.1
2,Saddiq Bey,SF,22,82,14.0,0.529,7.1,21.3,4.0,0.071,-0.3,1.2
3,Mikal Bridges,SF,25,82,14.4,0.627,6.8,15.0,8.9,0.150,1.6,2.6
4,Kevon Looney,C,25,82,15.7,0.586,13.8,12.2,6.8,0.187,0.9,1.3
5,Dwight Powell,C,30,82,18.1,0.725,11.5,14.0,8.2,0.219,0.9,1.3
...,...,...,...,...,...,...,...,...,...,...,...,...
496,Louis King,SF,22,10,8.1,0.438,0.0,21.2,0.0,0.000,-4.6,-0.1
497,Xavier Moon,SG,27,10,16.2,0.545,10.1,19.0,0.3,0.121,-0.1,0.1
498,Reggie Perry,PF,21,10,15.6,0.537,11.4,22.4,0.2,0.058,-4.1,-0.1
499,Trevelin Queen,SG,24,10,18.2,0.619,16.8,23.9,0.1,0.080,1.9,0.1
500,Chris Silva,PF,25,10,11.6,0.641,28.3,13.8,0.3,0.137,-4.9,-0.1

In [15]:
# Merge NBA salary dataframe with advanced stats dataframe
full_data = pd.merge(new_contracts, nba_adv_stats, on='Player', how='inner')

In [16]:
# rename 'G' columns to 'Games'
full_data = full_data.rename(columns = {'G▼' : 'Games'})

In [17]:
full_data

,Player,Team,2021-22,Pos,Age,Games,PER,TS%,TOV%,USG%,WS,WS/48,BPM,VORP
0,Stephen Curry,GSW,"$45,780,966",PG,33,64,21.4,0.601,13.2,30.8,8.0,0.173,5.8,4.4
1,Russell Westbrook,LAL,"$44,211,146",PG,33,78,15.0,0.512,17.3,27.3,1.7,0.030,-1.6,0.2
2,James Harden,PHI,"$43,848,000",PG-SG,32,65,20.9,0.583,18.8,27.2,7.6,0.152,4.1,3.7
3,LeBron James,LAL,"$41,180,544",SF,37,56,26.2,0.619,12.5,32.3,7.5,0.172,7.7,5.1
4,Kevin Durant,BRK,"$40,918,900",PF,33,55,25.6,0.634,12.9,31.2,8.4,0.198,7.2,4.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
455,Isaiah Thomas,CHO,"$276,039",PG,32,22,12.0,0.516,7.8,24.8,0.2,0.026,-4.5,-0.2
456,Trendon Watford,POR,"$260,561",SF,21,48,15.8,0.590,12.5,17.6,1.9,0.104,-1.7,0.1
457,Ish Wainright,TOR,"$8,558",PF,27,45,9.4,0.494,10.6,14.7,0.6,0.079,-2.0,0.0
458,Malik Fitts,BOS,"$231,062",PF,24,15,10.7,0.553,9.5,14.6,0.1,0.097,-1.1,0.0
459,Joe Wieskamp,SAS,"$202,068",SG,22,29,7.1,0.494,3.1,13.1,0.1,0.035,-3.9,-0.1

In [18]:
# Check for NANs in df
full_data.isnull().sum().sum()

1

In [19]:
# Find the player with the NAN salary. 
full_data[full_data['2021-22'].isnull()]

,Player,Team,2021-22,Pos,Age,Games,PER,TS%,TOV%,USG%,WS,WS/48,BPM,VORP
452,Admiral Schofield,OKC,NaN,SF,24,38,7.5,0.538,13.4,14.5,0.3,0.027,-5.4,-0.4

In [20]:
full_data

,Player,Team,2021-22,Pos,Age,Games,PER,TS%,TOV%,USG%,WS,WS/48,BPM,VORP
0,Stephen Curry,GSW,"$45,780,966",PG,33,64,21.4,0.601,13.2,30.8,8.0,0.173,5.8,4.4
1,Russell Westbrook,LAL,"$44,211,146",PG,33,78,15.0,0.512,17.3,27.3,1.7,0.030,-1.6,0.2
2,James Harden,PHI,"$43,848,000",PG-SG,32,65,20.9,0.583,18.8,27.2,7.6,0.152,4.1,3.7
3,LeBron James,LAL,"$41,180,544",SF,37,56,26.2,0.619,12.5,32.3,7.5,0.172,7.7,5.1
4,Kevin Durant,BRK,"$40,918,900",PF,33,55,25.6,0.634,12.9,31.2,8.4,0.198,7.2,4.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
455,Isaiah Thomas,CHO,"$276,039",PG,32,22,12.0,0.516,7.8,24.8,0.2,0.026,-4.5,-0.2
456,Trendon Watford,POR,"$260,561",SF,21,48,15.8,0.590,12.5,17.6,1.9,0.104,-1.7,0.1
457,Ish Wainright,TOR,"$8,558",PF,27,45,9.4,0.494,10.6,14.7,0.6,0.079,-2.0,0.0
458,Malik Fitts,BOS,"$231,062",PF,24,15,10.7,0.553,9.5,14.6,0.1,0.097,-1.1,0.0
459,Joe Wieskamp,SAS,"$202,068",SG,22,29,7.1,0.494,3.1,13.1,0.1,0.035,-3.9,-0.1

In [21]:
# Check Datatypes
full_data.dtypes

Player      object
Team        object
2021-22     object
Pos         object
Age          int64
Games        int64
PER        float64
TS%        float64
TOV%       float64
USG%       float64
WS         float64
WS/48      float64
BPM        float64
VORP       float64
dtype: object

In [22]:
#Remove '$' from salaries. Need to convert to number
full_data['2021-22'] = full_data['2021-22'].str[1:]

In [23]:
full_data = full_data.replace(',','', regex=True)

In [24]:
# Rename '2021-22' to '2021-22 Salaries ($)'
full_data = full_data.rename(columns = {'2021-22' : '2021-22 Salaries ($)'})

In [25]:
# Convert Salary dtype to float from Object (need to calculate column)
full_data['2021-22 Salaries ($)']= full_data['2021-22 Salaries ($)'].astype(float, errors='raise')

In [26]:
full_data

,Player,Team,2021-22 Salaries ($),Pos,Age,Games,PER,TS%,TOV%,USG%,WS,WS/48,BPM,VORP
0,Stephen Curry,GSW,45780966.0,PG,33,64,21.4,0.601,13.2,30.8,8.0,0.173,5.8,4.4
1,Russell Westbrook,LAL,44211146.0,PG,33,78,15.0,0.512,17.3,27.3,1.7,0.030,-1.6,0.2
2,James Harden,PHI,43848000.0,PG-SG,32,65,20.9,0.583,18.8,27.2,7.6,0.152,4.1,3.7
3,LeBron James,LAL,41180544.0,SF,37,56,26.2,0.619,12.5,32.3,7.5,0.172,7.7,5.1
4,Kevin Durant,BRK,40918900.0,PF,33,55,25.6,0.634,12.9,31.2,8.4,0.198,7.2,4.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
455,Isaiah Thomas,CHO,276039.0,PG,32,22,12.0,0.516,7.8,24.8,0.2,0.026,-4.5,-0.2
456,Trendon Watford,POR,260561.0,SF,21,48,15.8,0.590,12.5,17.6,1.9,0.104,-1.7,0.1
457,Ish Wainright,TOR,8558.0,PF,27,45,9.4,0.494,10.6,14.7,0.6,0.079,-2.0,0.0
458,Malik Fitts,BOS,231062.0,PF,24,15,10.7,0.553,9.5,14.6,0.1,0.097,-1.1,0.0
459,Joe Wieskamp,SAS,202068.0,SG,22,29,7.1,0.494,3.1,13.1,0.1,0.035,-3.9,-0.1

In [27]:
# Will Analyze data for players that have played 50 or more games, to get more accurate numbers, eliminate skewed data
Player_data_condensed = full_data.drop(full_data[full_data['Games'] < 50].index)

In [29]:
Player_data_condensed = Player_data_condensed.sort_values(by=['2021-22 Salaries ($)'], ascending=False)

In [30]:
Player_data_condensed

,Player,Team,2021-22 Salaries ($),Pos,Age,Games,PER,TS%,TOV%,USG%,WS,WS/48,BPM,VORP
0,Stephen Curry,GSW,45780966.0,PG,33,64,21.4,0.601,13.2,30.8,8.0,0.173,5.8,4.4
1,Russell Westbrook,LAL,44211146.0,PG,33,78,15.0,0.512,17.3,27.3,1.7,0.030,-1.6,0.2
2,James Harden,PHI,43848000.0,PG-SG,32,65,20.9,0.583,18.8,27.2,7.6,0.152,4.1,3.7
3,LeBron James,LAL,41180544.0,SF,37,56,26.2,0.619,12.5,32.3,7.5,0.172,7.7,5.1
4,Kevin Durant,BRK,40918900.0,PF,33,55,25.6,0.634,12.9,31.2,8.4,0.198,7.2,4.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
432,Dalano Banton,TOR,925258.0,SF,22,64,10.0,0.463,19.3,16.9,0.4,0.030,-3.0,-0.2
433,Jock Landale,SAS,925258.0,C,26,54,16.0,0.597,12.3,18.1,1.5,0.121,-0.4,0.2
434,Ayo Dosunmu,CHI,925258.0,SG,22,77,11.2,0.596,15.9,14.1,3.0,0.069,-2.0,0.0
435,Austin Reaves,LAL,925258.0,SG,23,61,11.5,0.600,9.8,12.4,2.9,0.097,-1.9,0.0
447,Caleb Martin,MIA,527614.0,SF,26,60,14.8,0.611,10.3,16.3,4.0,0.139,1.1,1.1

In [31]:
Player_data_condensed.describe()

,2021-22 Salaries ($),Age,Games,PER,TS%,TOV%,USG%,WS,WS/48,BPM,VORP
count,3.030000e+02,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,9.527168e+06,26.237624,65.584158,14.782508,0.568881,11.739934,19.203630,3.666667,0.103469,-0.086139,0.972607
std,9.823718e+06,4.353917,8.647168,4.426290,0.050881,3.324486,5.425933,2.584078,0.056342,2.743011,1.422272
min,5.276140e+05,19.000000,50.000000,6.300000,0.397000,4.700000,9.500000,-0.500000,-0.014000,-5.300000,-1.000000
25%,2.401537e+06,23.000000,58.000000,11.650000,0.539000,9.300000,15.300000,1.750000,0.064000,-2.000000,0.000000
50%,5.256308e+06,26.000000,66.000000,14.000000,0.570000,11.600000,18.400000,3.200000,0.104000,-0.500000,0.700000
75%,1.268011e+07,29.000000,72.500000,17.200000,0.598500,13.700000,22.050000,5.200000,0.131000,1.300000,1.500000
max,4.578097e+07,37.000000,82.000000,32.800000,0.745000,20.400000,37.400000,15.200000,0.296000,13.700000,9.800000

In [33]:
# Due to high standard deviation, will analyze only the top 50 highest paid players.
Player_data_condensed = Player_data_condensed.head(50)

In [35]:
Player_data_condensed.reset_index(inplace=True)

In [36]:
Player_data_condensed

,index,Player,Team,2021-22 Salaries ($),Pos,Age,Games,PER,TS%,TOV%,USG%,WS,WS/48,BPM,VORP
0,0,Stephen Curry,GSW,45780966.0,PG,33,64,21.4,0.601,13.2,30.8,8.0,0.173,5.8,4.4
1,1,Russell Westbrook,LAL,44211146.0,PG,33,78,15.0,0.512,17.3,27.3,1.7,0.030,-1.6,0.2
2,2,James Harden,PHI,43848000.0,PG-SG,32,65,20.9,0.583,18.8,27.2,7.6,0.152,4.1,3.7
3,3,LeBron James,LAL,41180544.0,SF,37,56,26.2,0.619,12.5,32.3,7.5,0.172,7.7,5.1
4,4,Kevin Durant,BRK,40918900.0,PF,33,55,25.6,0.634,12.9,31.2,8.4,0.198,7.2,4.8
5,5,Giannis Antetokounmpo,MIL,39344970.0,PF,27,67,32.1,0.633,12.2,34.9,12.9,0.281,11.2,7.4
6,9,Jimmy Butler,MIA,36016200.0,SF,32,57,23.6,0.592,10.5,26.5,9.2,0.228,6.3,4.0
7,10,Tobias Harris,PHI,36000000.0,PF,29,73,15.9,0.566,9.5,21.7,5.6,0.105,0.0,1.3
8,11,Khris Middleton,MIL,35500000.0,SF,30,66,18.1,0.577,14.2,26.7,5.3,0.119,1.6,1.9
9,13,Rudy Gobert,UTA,35344828.0,C,29,66,24.7,0.732,14.5,16.9,11.7,0.264,4.6,3.6
10,30,Blake Griffin,BRK,32405817.0,PF,32,56,13.7,0.518,8.2,16.9,2.1,0.106,-0.6,0.3
11,29,Blake Griffin,DET,32405817.0,PF,32,56,13.7,0.518,8.2,16.9,2.1,0.106,-0.6,0.3
12,16,Kristaps Porziņģis,WAS,31650600.0,PF,26,51,23.7,0.577,8.3,29.5,5.6,0.180,3.9,2.2
13,17,Devin Booker,PHO,31610000.0,SG,25,68,21.3,0.576,9.3,32.0,7.6,0.156,4.1,3.6
14,18,Karl-Anthony Towns,MIN,31610000.0,C,26,74,24.1,0.640,13.7,27.8,10.3,0.199,5.0,4.4
15,19,Joel Embiid,PHI,31579390.0,C,27,68,31.2,0.616,11.3,37.2,12.0,0.252,9.2,6.5
16,20,Andrew Wiggins,GSW,31579390.0,SF,26,73,15.0,0.560,9.0,23.1,5.1,0.105,0.4,1.4
17,21,Pascal Siakam,TOR,31320000.0,PF,27,68,20.3,0.565,11.6,25.8,8.1,0.151,3.5,3.6
18,22,Kevin Love,CLE,31300000.0,PF,33,74,19.6,0.594,10.4,25.1,5.7,0.164,4.5,2.7
19,23,CJ McCollum,NOP,30864198.0,SG,30,62,18.3,0.553,9.3,27.5,3.6,0.081,1.9,2.1
20,24,Chris Paul,PHO,30800000.0,PG,36,65,20.8,0.581,15.6,19.7,9.4,0.210,5.4,4.0
21,25,Nikola Jokić,DEN,30510423.0,C,26,74,32.8,0.661,15.6,31.9,15.2,0.296,13.7,9.8
22,26,Jrue Holiday,MIL,30133333.0,PG,31,67,19.8,0.593,15.0,23.5,6.9,0.150,3.2,2.9
23,27,D'Angelo Russell,MIN,30013500.0,PG,25,65,16.3,0.544,13.2,25.1,4.4,0.101,0.8,1.4
24,31,Brandon Ingram,NOP,29467800.0,SF,24,55,18.7,0.554,11.8,29.3,3.9,0.099,2.0,1.9
25,32,De'Aaron Fox,SAC,28103550.0,PG,24,59,17.4,0.549,11.9,29.1,2.5,0.058,-0.6,0.7
26,33,Bam Adebayo,MIA,28103550.0,C,24,56,21.8,0.608,14.4,25.0,7.2,0.188,3.8,2.7
27,34,Donovan Mitchell,UTA,28103550.0,SG,25,67,21.6,0.572,11.7,32.9,7.2,0.152,4.3,3.6
28,35,Jayson Tatum,BOS,28103550.0,SF,23,76,21.8,0.578,10.9,32.1,9.6,0.169,4.9,4.8
29,36,Al Horford,BOS,27000000.0,C,35,69,16.7,0.574,9.6,14.8,7.6,0.181,4.3,3.2
30,37,Kyle Lowry,MIA,26984128.0,PG,35,63,15.0,0.600,19.3,18.2,6.4,0.143,1.9,2.1
31,40,DeMar DeRozan,CHI,26000000.0,PF,32,76,23.1,0.590,9.2,31.8,8.8,0.154,2.5,3.1
32,41,Jaylen Brown,BOS,24830357.0,SF,25,66,18.9,0.574,11.6,30.5,5.8,0.124,2.1,2.2
33,43,Nikola Vučević,CHI,24000000.0,C,31,73,18.2,0.533,10.1,24.5,4.5,0.090,0.9,1.8
34,44,John Collins,ATL,23000000.0,PF,24,54,18.7,0.610,7.7,20.5,5.1,0.146,1.5,1.5
35,45,Buddy Hield,IND,22477273.0,SG,29,81,12.9,0.548,11.7,22.4,1.9,0.036,-1.2,0.5
36,48,Mike Conley,UTA,21000000.0,PG,34,72,17.2,0.572,12.5,20.9,6.7,0.157,3.1,2.7
37,49,Gary Harris,ORL,20482143.0,SG,27,61,10.9,0.571,9.3,16.4,2.2,0.060,-2.4,-0.2
38,50,Danilo Gallinari,ATL,20475000.0,PF,33,66,14.3,0.579,5.4,18.4,3.6,0.105,-0.2,0.8
39,51,Harrison Barnes,SAC,20284091.0,PF,29,77,15.7,0.623,10.4,18.8,6.0,0.112,0.2,1.4
40,52,Jarrett Allen,CLE,20000000.0,C,23,56,23.0,0.698,12.7,18.1,8.5,0.225,3.9,2.7
41,54,Julius Randle,NYK,19800000.0,PF,27,72,15.7,0.509,14.7,28.7,3.1,0.059,0.5,1.6
42,55,Fred VanVleet,TOR,19675926.0,PG,27,65,17.3,0.552,12.5,23.7,6.7,0.131,3.6,3.5
43,56,Zach LaVine,CHI,19500000.0,SF,26,67,20.0,0.605,11.2,28.8,5.8,0.120,2.4,2.6
44,59,Bojan Bogdanović,UTA,18700000.0,PF,32,69,15.7,0.599,10.2,23.7,5.2,0.118,0.0,1.1
45,61,Domantas Sabonis,SAC,18562500.0,C-PF,25,62,21.9,0.637,17.5,22.3,7.1,0.159,4.1,3.2
46,62,Eric Gordon,HOU,18218818.0,SG,33,57,12.1,0.614,14.6,18.6,1.4,0.040,-2.3,-0.1
47,63,Evan Fournier,NYK,18139535.0,SG,29,80,12.3,0.554,9.4,20.8,3.7,0.075,-0.7,0.7
48,64,Eric Bledsoe,POR,18125000.0,PG,32,54,12.5,0.514,18.3,20.5,1.3,0.047,-0.8,0.4
49,66,Bogdan Bogdanović,ATL,18000000.0,SG,29,63,15.4,0.562,7.7,21.6,3.7,0.095,1.3,1.5